@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {

    background-color: black;
    color: yellow;
    font-family: 'Pixelify Sans','Times New Roman', Times;
    font-weight: 700;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 45px;
}
.content{
    display: flex;
    justify-content: center;
}
.img-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width:450px;
    flex-wrap: wrap;
}

.image { 
    background-color: white;
    width:200px;
    height: 150px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain ;
    background-position:center;

}
.rock {
    background-image: url(images/rock.png);
}
.paper {
    background-image: url(images/paper.png);
}
.scissor {
    background-image: url(images/scissors.png);
}
