@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {

    background-color: black;
    color: #ffff;
    font-family: 'Pixelify Sans','Times New Roman', Times;
    font-weight: 700;
}

h1 {
    text-align: center;
    font-size: 45px;
    color: yellow;
}